template(name='storyItem')
  .ui.segment.secondary.story.preview(id=_id)
    .ui.grid
      .three.wide.column.feed-name
        i.top.aligned.star.icon(class=isFaved)
        {{feedName}}
      .thirteen.wide.column.preview-story
        strong {{title}}
        span.preview-text
          — {{{previewText}}}
      .sixteen.wide.column.full-text
        {{{description}}}
