template(name='storyItem')
  .ui.segment.secondary.preview-story
    .ui.grid
      .three.wide.column.feed-name
        i.top.aligned.star.icon(class=isFaved)
        {{feedName}}
      .thirteen.wide.column
        strong {{title}}
        span.preview
          — {{{previewText}}}
