template(name='storyItem')
  .one.column.row
    .column
      .ui.grid
        .three.wide.column
          i.top.aligned.star.icon(class=isFaved)
          {{feedName}}
        .thirteen.wide.column
          strong {{title}}
          span.preview
            — {{{previewText}}}
