template(name='storyItem')
  .ui.segment.secondary.story.preview(id=_id)
    .ui.grid
      .three.wide.column.feed-name.story-title
        .ui.star.rating(data-rating=isFaved data-id=_id)
          i.icon
        {{feedName}}
      .thirteen.wide.column.preview-story.story-title
        strong {{title}}
        span.preview-text
          — {{{previewText}}}
      .sixteen.wide.column.full-text
        {{{description}}}
      .thirteen.wide.column.full-text
        {{formattedPubDate}}
      .three.wide.column.full-text
        a.ui.basic.button.story-link(href=link target='_blank')
          i.external.icon
          {{_ 'story_item_follow'}}
