.preview-text {
  opacity: 0.3;
}

.preview-story {
  overflow: hidden;
  white-space: nowrap;
}

.feed-name {
  overflow: hidden;
}

.story-title {
  cursor: pointer;
}

.story.preview .preview-text {
  display: inline !important;
}

.story.preview .full-text {
  display: none !important;
}

.story.current .preview-text {
  visibility: hidden !important;
}

.story.current .full-text {
  display: inline-block !important;
}
