template(name='feedItem')
  .item
    .right.floated
      a.ui.compact.basic.small.button(href="{{pathFor 'feedEdit'}}")
        {{_ 'feed_item_edit'}}
      button.ui.compact.small.red.inverted.button.delete
        {{_ 'feed_item_delete'}}
    .left.floated
      i.small.thin.circle.icon(class=statusColor)
    .header #{name}
    .description {{_ 'feed_item_last_fetch' lastFetch}}
