template(name='feedSubmit')
  h2 {{_ 'feed_submit_title'}}
  form.ui.form
    .field
      label(for='url') {{_ 'feed_submit_url'}}
      input#url(name='url' type='text')
    input.ui.submit.button(type='submit' value="{{_ 'feed_submit_button'}}")
