template(name='feedItem')
  .item
    a.ui.right.floated.compact.basic.small.button(href="{{pathFor 'feedEdit'}}")
      {{_ 'feed_item_edit'}}
    .right.floated.date #{lastFetch}
    .left.floated
      i.small.thin.circle.icon(class=statusColor)
    .name #{name}
