template(name='header')
  nav.ui.fixed.menu.navbar
    a.brand.item(href='/') StringeRT
    a.item(href="{{pathFor 'feedsList'}}")
      i.feed.icon
      | {{_ 'navigation_feeds'}}
    a.item(href="{{pathFor 'feedSubmit'}}")
      i.add.square.icon
      | {{_ 'navigation_add_feed'}}
